<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <app-adminheader></app-adminheader>
  <app-adminsidebar></app-adminsidebar>
  <!-- Content Wrapper. Contains page content -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Forum</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
              <li class="breadcrumb-item active">Tous les forums</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Tous les forums<small> </small></h3>
              </div>

              <div class="clearfix"></div><br>
              <div>
                <b><a  class="btn btn-success export_btn" href="{{base_url_node}}exportCsvForumApi" target="_blank" download="download"  >Exporter csv</a></b>
              </div>


              
              <!-- /.card-header -->
              <!-- form start -->
               <div class="card">
              <div class="card-header">
                <h3 class="card-title"> </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">

                <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="card-body">
                    <div class="row">
                      
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Titre</label>
                          <input type="text" formControlName="title"
                            id="title"  
                            class="form-control"
                            placeholder="Numéro de portable"
                            >
                        </div>
                      </div> 
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Description</label>
                          <input type="text" formControlName="description"
                            id="description"  
                            class="form-control"
                            placeholder="Numéro de portable"
                            >
                        </div>
                      </div> 

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Statut</label>
                            <select name="status" formControlName="status"  
                              class="form-control"
                              >
                            <option value="">Veuillez sélectionner</option>
                            <option value="1">Actif</option>
                            <option value="2">Inactif</option>
                          </select>
                        </div>
                      </div>

                    </div>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Soumettre</button>
                    &nbsp;&nbsp;&nbsp;
                    <a href="{{base_url}}allForum" class="btn btn-warning">Réinitialisation</a>


                  </div>
                  <div class="card-footer">
                    
                  </div>
              </form>

              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Prénom</th>
                      <th>Nom de famille</th>
                      <th>Courriel</th>
                      <th>Numéro de téléphone mobile</th>
                      <th>Titre</th>
                      <th>Description</th> 
                      <th>Image</th>
                      <th>Statut</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                     
                    <tr *ngFor="let val of record let i = index">
                      <td>{{ i+1 }}</td>
                      <td>{{ val.user_id[0].firstName}}</td>
                      <td>{{ val.user_id[0].lastName}}</td>
                      <td>{{ val.user_id[0].email}}</td>
                      <td>{{ val.user_id[0].mobileNumber}}</td>
                      <td>{{ val.title}}</td>
                      <td>{{ val.description}}</td>
                      <td>

                      	<img *ngIf="val.user_id[0].userImage; else imageElse" src="{{base_url_node_plain}}public/uploads/userProfile/{{ val.user_id[0].userImage }}" height="120" width="120"> 
                      	<ng-template #imageElse>
                        	<img src="{{base_url_node_plain}}public/uploads/userProfile/user-icon.jpeg" height="120" width="120"> 
                    	</ng-template>
                      	
                      </td>
                      
                       

                     
                    <td>
                        <div *ngIf="val.status == 1; else statusOut">
                          <span class="badge bg-success">Actif</span>
                      </div>
                      <ng-template #statusOut>
                          <span class="badge bg-danger">Inactif</span>
                      </ng-template>
                  	</td> 
                    <td>
                      <div *ngIf="val.status == 1; else statusManageOut">
                        <a  (click)="updateUserStatus(val._id,2);" class="btn btn-block btn-danger">Inactif</a>
                      </div>
                      <ng-template #statusManageOut>
                          <a  (click)="updateUserStatus(val._id,1);" class="btn btn-block btn-success">Actif</a>
                      </ng-template>
                      &nbsp;&nbsp;    
                      <a routerLink="/detailForum/{{val._id}}"><i class="fa fa-eye" aria-hidden="true"></i>Voir le détail</a>

                    </td>


                    </tr>

                  </tbody>
                </table>
              </div>  
                <div class="clearfix"></div>
                <br>

                 
                <ul class="pagination">
                    <li   *ngFor="let item of numbers; let i = index"  
                    [class.active]="selectedIndex === i"
                      (click)="getallBanner(item)">
                      <a class="" href="javascript:void(0)">{{item+1}}</a>
                    </li> 
                </ul>

                <div class="clearfix"></div>
                  <br>
	            <div class="comeBack_up" *ngIf="apiResponse">
	                <div *ngIf="apiResponse.error; else loggedOut">
	                  <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
	                </div>
	                <ng-template #loggedOut>
	                  <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
	                </ng-template>
	            </div>


              </div>
              <!-- /.card-body -->
            </div>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
    <!-- Control sidebar content goes here -->
  <!-- /.control-sidebar -->

  
   <app-adminfooter></app-adminfooter>
</div>
</body>