<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <app-adminheader></app-adminheader>
  <app-adminsidebar></app-adminsidebar>
  <!-- Content Wrapper. Contains page content -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Catégorie</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
              <li class="breadcrumb-item active">Toutes les catégories</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Toutes les catégories<small> </small></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
               <div class="card">
              <div class="card-header">
                <h3 class="card-title"> </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 10px">#</th>
                        <th>Nom de la catégorie</th>
                        <th>Type de donateur</th>
                        <th>Prix</th>
                        <th>Image</th>
                        <th>Intitulé</th>
                        <th>Description</th>
                        <th>Titre</th>
                        <th>Vidéo</th> 
                        <th>Statut</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                       
                      <tr *ngFor="let val of record let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ val.category}}</td>
                        <td>
                          <ng-container *ngIf="val.donation_type == 1; else statusDonationType">Prix</ng-container>
                          <ng-template #statusDonationType>
                            Quantité
                          </ng-template>
                        </td>
                        <td>
                          <p  ng-if="!val.price">{{ val.price}}</p>
                        </td> 
                        <td>

                        	<img *ngIf="val.images.length > 0" src="{{base_url_node_plain}}{{ val.images[0].path }}" height="120" width="120"> 

                        </td>
                        <td>{{ val.heading}}</td>
                        <td [innerHTML]= "val.description"></td>
                        <td>
                          <p *ngFor="let objVTitle of val.video_title">{{objVTitle}}</p>
                        </td>
                        <td>
                          <p *ngFor="let objVideo of val.video">
                        	<a   href="{{base_url_node_plain}}{{ objVideo.path }}" target="_blank">Vidéo</a> </p>
                        </td>
                         

                        <td>
                          <div *ngIf="val.status == 1; else statusOut">
                            <span class="badge bg-success">Actif</span>
                        </div>
                        <ng-template #statusOut>
                            <span class="badge bg-danger">Inactif</span>
                        </ng-template>
                    </td> 
                        <td>
                          <a routerLink="/editCategory/{{ val._id}}" >
                            <i class="fas fa-pencil-alt">Modifier</i>
                          </a>

                          <div *ngIf="val.status == 1; else statusManageOut">
                          <a  (click)="updateCatStatus(val._id,2);" class="btn btn-block btn-danger">Inactif</a>
                      </div>
                      <ng-template #statusManageOut>
                          <a  (click)="updateCatStatus(val._id,1);" class="btn btn-block btn-success">Actif</a>
                      </ng-template>
                          

                        </td>


                      </tr>

                    </tbody>
                  </table>
                </div>  
                <div class="clearfix"></div>
                <br>

                 
                <ul class="pagination">
                    <li   *ngFor="let item of numbers; let i = index"  
                    [class.active]="selectedIndex === i"
                      (click)="getallBanner(item)">
                      <a class="" href="javascript:void(0)">{{item+1}}</a>
                    </li> 
                </ul>

                <div class="clearfix"></div>
                  <br>
	            <div class="comeBack_up" *ngIf="apiResponse">
	                <div *ngIf="apiResponse.error; else loggedOut">
	                  <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
	                </div>
	                <ng-template #loggedOut>
	                  <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
	                </ng-template>
	            </div>


              </div>
              <!-- /.card-body -->
            </div>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
    <!-- Control sidebar content goes here -->
  <!-- /.control-sidebar -->

  
   <app-adminfooter></app-adminfooter>
</div>
</body>