<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Détail de la donation</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Détail de la donation</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Détail de la donation<small> </small></h3>
                </div>
                <div class="clearfix"></div><br>
                 
                <!-- /.card-header -->
                <!-- form start -->
                 <div class="card">
                 
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6 col-md-12">
                      <div class="white-box">


                        <ng-container *ngIf="record[0].project_id != '' && record[0].project_id != null ;else secondElse ">
                            <ng-container *ngFor="let val of record ">

                                <div class="value">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="name">
                                                <span>Nom du projet
                                                </span>
                                            </div>
                                        </div>
                                        <div class=col-md-6>
                                            <div class="name" *ngIf="val.project_record">
                                                <span *ngIf="val.project_record.length > 0" ><b> {{val.project_record[0].title}}</b></span>
                                            </div>
                                        </div>
                                    </div>
                                  </div>

                               
                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Prénom    </span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.firstName }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>

                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Nom de famille    </span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.lastName }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>

                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Courriel  </span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.email }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              
                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Numéro de téléphone   </span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.mobileNumber }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>

                               

                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Prix</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.price }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>

                               
                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Prix supplémentaire</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <ng-container *ngIf="val.is_additional ==true; else elseAddi ">
                                                <span><b> Oui</b></span>
                                            </ng-container>
                                            <ng-template #elseAddi>
                                                <span><b> Non</b></span>
                                            </ng-template>
                                            
                                        </div>
                                    </div>
                                </div>
                              </div>

                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Date et heure</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.payment_success_date | date: 'dd.MM.yyyy HH'}}h{{val.payment_success_date | date: 'mm'}}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>

                            <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Prix total</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.total_price }}</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                           


                            <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Prénom</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.secondFirstName }}</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Nom de famille</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.secondLastName }}</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Adresse</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.address }}</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Deuxième adresse</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.secondAddress }}</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Ville</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.city }}</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Code postal</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.zip_code }}</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Courriel</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.email }}</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Téléphone</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.phone_code }} {{ val.mobileNumber }}</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Message</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.message }}</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             
                            </ng-container>
                        </ng-container>
                        <ng-template #secondElse>
                            <ng-container *ngIf="record[0].project_name != '' && record[0].project_name != null;else thirdElse ">
                                <ng-container *ngFor="let val of record ">

                                    <div class="value">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="name">
                                                  <span>Nom du projet    </span>
                                              </div>
                                          </div>
                                          <div class=col-md-6>
                                              <div class="name">
                                                  <span><b>{{ val.project_name }}</b></span>
                                              </div>
                                          </div>
                                      </div>
                                    </div>

                                    <div class="value">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="name">
                                                  <span>Prénom    </span>
                                              </div>
                                          </div>
                                          <div class=col-md-6>
                                              <div class="name">
                                                  <span><b>{{ val.firstName }}</b></span>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
      
                                    <div class="value">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="name">
                                                  <span>Nom de famille    </span>
                                              </div>
                                          </div>
                                          <div class=col-md-6>
                                              <div class="name">
                                                  <span><b>{{ val.lastName }}</b></span>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
      
                                    <div class="value">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="name">
                                                  <span>Courriel  </span>
                                              </div>
                                          </div>
                                          <div class=col-md-6>
                                              <div class="name">
                                                  <span><b>{{ val.email }}</b></span>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                    
                                    <div class="value">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="name">
                                                  <span>Numéro de téléphone   </span>
                                              </div>
                                          </div>
                                          <div class=col-md-6>
                                              <div class="name">
                                                  <span><b>{{ val.mobileNumber }}</b></span>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
      
                                     
      
                                    <div class="value">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="name">
                                                  <span>Prix</span>
                                              </div>
                                          </div>
                                          <div class=col-md-6>
                                              <div class="name">
                                                  <span><b>{{ val.price }}</b></span>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
      
                                     
                                    <div class="value">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="name">
                                                  <span>Prix supplémentaire</span>
                                              </div>
                                          </div>
                                          <div class=col-md-6>
                                              <div class="name">
                                                  <ng-container *ngIf="val.is_additional ==true; else elseAddi ">
                                                      <span><b> Oui</b></span>
                                                  </ng-container>
                                                  <ng-template #elseAddi>
                                                      <span><b> Non</b></span>
                                                  </ng-template>
                                                  
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                    <div class="value">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="name">
                                                    <span>Date et heure</span>
                                                </div>
                                            </div>
                                            <div class=col-md-6>
                                                <div class="name">
                                                    <span><b>{{ val.payment_success_date | date: 'dd.MM.yyyy HH'}}h{{val.payment_success_date | date: 'mm'}}</b></span>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                  <div class="value">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="name">
                                                  <span>Prix total</span>
                                              </div>
                                          </div>
                                          <div class=col-md-6>
                                              <div class="name">
                                                  <span><b>{{ val.total_price }}</b></span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
      
      
                                 
      
      
                                
      
       
                                  <div class="value">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="name">
                                                  <span>Adresse</span>
                                              </div>
                                          </div>
                                          <div class=col-md-6>
                                              <div class="name">
                                                  <span><b>{{ val.address }}</b></span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="value">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="name">
                                                  <span>Deuxième adresse</span>
                                              </div>
                                          </div>
                                          <div class=col-md-6>
                                              <div class="name">
                                                  <span><b>{{ val.secondAddress }}</b></span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="value">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="name">
                                                  <span>Ville</span>
                                              </div>
                                          </div>
                                          <div class=col-md-6>
                                              <div class="name">
                                                  <span><b>{{ val.city }}</b></span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="value">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="name">
                                                  <span>Code postal</span>
                                              </div>
                                          </div>
                                          <div class=col-md-6>
                                              <div class="name">
                                                  <span><b>{{ val.zip_code }}</b></span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="value">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="name">
                                                  <span>Courriel</span>
                                              </div>
                                          </div>
                                          <div class=col-md-6>
                                              <div class="name">
                                                  <span><b>{{ val.email }}</b></span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="value">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="name">
                                                  <span>Téléphone</span>
                                              </div>
                                          </div>
                                          <div class=col-md-6>
                                              <div class="name">
                                                  <span><b>{{ val.phone_code }} {{ val.mobileNumber }}</b></span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
      
                                  
                                   
                                  </ng-container>
                            </ng-container>
                            
                            <ng-template #thirdElse>
                                <ng-container *ngFor="let val of record ">
                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Prénom    </span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.firstName }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>

                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Nom de famille    </span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.lastName }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>

                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Courriel  </span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.email }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              
                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Numéro de téléphone   </span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.mobileNumber }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>

                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Catégorie</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.category_title }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>

                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Prix</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.price }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Date et heure</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.payment_success_date | date: 'dd.MM.yyyy HH'}}h{{val.payment_success_date | date: 'mm'}}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Type de paiement</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.payment_type }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>

                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Prénom un</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.firstName1 }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Nom de famille un</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.lastName1 }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>


                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Prénom deux</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.firstName2 }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>

                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Nom de famille deux</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.lastName2 }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>

                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Prénom trois</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.firstName3 }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Nom de famille trois</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.lastName3 }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>


                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Prénom quatre</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.firstName4 }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Nom de famille quatre</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.lastName4 }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>

                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Prénom cinq</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.firstName5 }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Nom de famille cinq</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.lastName5 }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>

                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Prénom six</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.firstName6 }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <div class="value">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="name">
                                            <span>Nom de famille six</span>
                                        </div>
                                    </div>
                                    <div class=col-md-6>
                                        <div class="name">
                                            <span><b>{{ val.lastName6 }}</b></span>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </ng-container>
                            </ng-template>
                        </ng-template>

                      </div>   
                    </div>
                  </div>

                </div>
                <!-- /.card-body -->
              </div>
              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->


    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
    
     <app-adminfooter></app-adminfooter>
  </div>
  </body>