<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <app-adminheader></app-adminheader>
  <app-adminsidebar></app-adminsidebar>
  <!-- Content Wrapper. Contains page content -->
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Models</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Models</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">All Models <small> </small></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
               <div class="card">
              <div class="card-header">
                <h3 class="card-title">Striped Full Width Table</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 10px">#</th>
                        <th>Attribute type</th>
                        <th>Model name</th>
                        <th>Model image</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr *ngFor="let val of record let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ val.attribute_type }}</td>
                        <td>{{ val.model_name }}</td>
                        <td><img src="{{ base_url_node_only+'public/uploads/models/'+val.fileImage }}" height="120" width="120"></td>
                        <td>
                          <a href="" disabled>Edit</a>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>  
                <div class="clearfix"></div>
                <br>

                 
                <ul class="pagination">
                    <li   *ngFor="let item of numbers; let i = index"  
                    [class.active]="selectedIndex === i"
                      (click)="getallModel(item)">
                      <a class="" href="javascript:void(0)">{{item+1}}</a>
                    </li> 
                </ul>

              </div>
              <!-- /.card-body -->
            </div>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
    <!-- Control sidebar content goes here -->
  <!-- /.control-sidebar -->

  
   <app-adminfooter></app-adminfooter>
</div>
</body>