<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <app-adminheader></app-adminheader>
  <app-adminsidebar></app-adminsidebar>
  <!-- Content Wrapper. Contains page content -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Paypal</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
              <li class="breadcrumb-item active">Modifier la page</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Modifier la page<small></small></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="card-body">
                  <input type="hidden" name="edit_id" formControlName="edit_id" [(ngModel)]="edit_id">
                  
                  <div>
                  	<img src="{{ base_url_node_plain }}public/uploads/paypal.jpeg">
                  </div>


                  <div class="form-group">
	                    <label for="exampleInputEmail1">Mode</label>
	                    <select name="mode" formControlName="mode"  
	                      class="form-control" [(ngModel)]="old_mode"
	                      >
	                        <option value="sandbox">Bac à sable</option>
	                        <option value="live">En direct</option>
	                         
	                    </select>

		                <div *ngIf="f['mode'].touched && f['mode'].invalid" class="validation_error">
	                      <div *ngIf="f['mode'].errors && f['mode'].errors['required']">La catégorie est obligatoire.</div>
	                    </div>

                  	</div>



                  <div class="form-group">
                    <label for="exampleInputEmail1">Identifiant du client</label>
                    <input type="text" formControlName="client_id"
                      id="client_id"  
                      class="form-control"
                      placeholder="Clé à bandes"
                      [(ngModel)]="old_client_id"
                      >
                    <div *ngIf="f['client_id'].touched && f['client_id'].invalid" class="validation_error">
                      <div *ngIf="f['client_id'].errors && f['client_id'].errors['required']" >L'identifiant du client est requis.</div>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="exampleInputEmail1">Secret du client</label>
                    <input type="text" formControlName="client_secret"
                      id="client_secret"  
                      class="form-control"
                      placeholder="Bandeau secret"
                      [(ngModel)]="old_client_secret"
                      >
                    <div *ngIf="f['client_secret'].touched && f['client_secret'].invalid" class="validation_error">
                      <div *ngIf="f['client_secret'].errors && f['client_secret'].errors['required']" >Le secret du client est requis.</div>
                    </div>
                  </div>


                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Soumettre</button>
                </div>

                <div class="clearfix"></div>
                  <br>
                  <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.error; else loggedOut">
                      <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                      <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </ng-template>
                  </div>

              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
    <!-- Control sidebar content goes here -->
  <!-- /.control-sidebar -->

  
   <app-adminfooter></app-adminfooter>
</div>
</body>