* {
  font-size: 14px;
  font-family: Arial;
}

td,
th,
tr,
table {
  /*border-top: 1px solid black;*/
  border-collapse: collapse;
}
/*
.table-bottom-line tr {

}*/
/*
td,th,tr,table
{
  margin-bottom: 35px!important;
}
*/
.table td, .table th {
   
   border-top: none !important; 
   padding:0 10px;
   /*margin-bottom: 35px!important;*/
}
/*
.table td
{
  margin-bottom: 35px!important;
}*/
td.description,
th.description {
  width: 75px;
  max-width: 75px;
}

td.quantity,
th.quantity {
  width: 40px;
  max-width: 40px;
  word-break: break-all;
}

td.price,
th.price {
  width: 40px;
  max-width: 40px;
  word-break: break-all;
}

.centered {
  text-align: center;
  align-content: center;
}

.ticket {
  width: 290px;
  max-width: 290px;
}
.text-center {
  text-align: center;
}
img {
  max-width: inherit;
  width: inherit;
}

@media  print {
  .hidden-print,
  .hidden-print * {
      display: none !important;
  }
}

button#btnPrint {
  margin-bottom: 50px;
}

