<!DOCTYPE html>
<html lang="en">
<head>
  <title>Coeurophelins</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div style="max-width: 500px; margin: auto;margin-top:50px;background: #fcf0ff;padding: 30px; border-radius: 30px;">
<table style="width:100%;">
<thead>
<tr>
<td style="text-align:center;">
<img src="../../../assets/logo.png" style="margin-bottom:15px;"/>
</td>
</tr>
<tr>
<th style="text-align:center;width:100%;padding-bottom: 20px;">
Merci pour votre don!
</th>
</tr>
</thead>
<tbody>
<tr>
   <td style="padding-bottom:10px;">Voici les détails de la transaction pour vos dossiers.</td>
</tr>

<tr>
   <td style="padding-bottom:10px;">Montant:<strong> <span style="padding-left:5px;">{{old_price}}€</span></strong></td>
</tr>


<tr>
   <td>ID de la transaction : <strong><span style="padding-left:5px;">{{old_order_id}}</span></strong></td>
</tr>

<tr>
   <td>Date et heure : <strong><span style="padding-left:5px;">{{old_payment_initiate_date | date: 'dd/MM/yyyy HH:mm'}}</span></strong></td>
</tr>

<tr>
   <td style="padding-bottom:10px;">Type de paiement :<strong><span style="padding-left:5px;"> {{old_payment_type}}</span></strong></td>
</tr>
<tr>
   <td style="padding-bottom:10px;"><strong><span>Informations personnelles</span></strong></td>
</tr>
<tr>
    <td>Nom et prénom : <strong><span style="padding-left:5px;">{{old_firstName}} {{old_lastName}}</span></strong></td>
 </tr>
 <tr>
     <td>Email : <strong><span style="padding-left:5px;">{{old_email}}</span></strong></td>
  </tr>
  <tr>
      <td>Numéro de portable : <strong><span style="padding-left:5px;">{{old_mobileNumber}}</span></strong></td>
   </tr>

<tr>
   <td>
      
   </td>
</tr>
</tbody>
</table>
</div>
</body>
</html>
