<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <app-adminheader></app-adminheader>
  <app-adminsidebar></app-adminsidebar>
  <!-- Content Wrapper. Contains page content -->
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Projet</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
              <li class="breadcrumb-item active">Ajouter un projet</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Ajouter un projet<small></small></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="card-body">

                  <div class="form-group">
	                    <label for="exampleInputEmail1">Catégorie</label>
	                    <select name="category" formControlName="category"  
	                      class="form-control" [(ngModel)]="old_category"
	                      >
	                        <option value="">Veuillez sélectionner</option>
	                        <option *ngFor="let player of allModelList" [value]="player._id">
	                            {{player.category}}
	                        </option>
	                    </select>

		                <div *ngIf="f['category'].touched && f['category'].invalid" class="validation_error">
	                      <div *ngIf="f['category'].errors && f['category'].errors['required']">La catégorie est obligatoire.</div>
	                    </div>

                  	</div>

                    
                  <div class="form-group">
                    <label for="exampleInputEmail1">Titre</label>
                    <input type="text" formControlName="title"
                      id="title"  
                      class="form-control"
                      placeholder="Titre"
                      [(ngModel)]="old_title">
                    <div *ngIf="f['title'].touched && f['title'].invalid" class="validation_error">
                      <div *ngIf="f['title'].errors && f['title'].errors['required']">Titre est requis.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="file">Image</label><br><div class="clearfix"></div>
                    <input
                        formControlName="images"
                        id="images"
                        type="file"
                          
                        (change)="onFileChange($event)"
                        accept="image/png, image/jpeg, image/jpg, image/gif">
                    <div *ngIf="f['images'].touched && f['images'].invalid" class="validation_error">
                        <div *ngIf="f['images'].errors && f['images'].errors['required']">Le fichier est requis.</div>
                    </div>
                  </div>
                   <div class="form-group">
                    <label for="exampleInputEmail1">Description</label>
                    <textarea formControlName="description"
                      id="description"  
                      class="form-control"
                      placeholder="Description" [(ngModel)]="old_description"></textarea>
                    <div *ngIf="f['description'].touched && f['description'].invalid" class="validation_error">
                      <div *ngIf="f['description'].errors && f['description'].errors['required']">La description est obligatoire.</div>
                    </div>
                  </div>


                   

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Soumettre</button>
                </div>

                <div class="clearfix"></div>
                  <br>
                  <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.error; else loggedOut">
                      <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                      <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </ng-template>
                  </div>

              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
    <!-- Control sidebar content goes here -->
  <!-- /.control-sidebar -->

  
   <app-adminfooter></app-adminfooter>
</div>
</body>