<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <app-adminheader></app-adminheader>
  <app-adminsidebar></app-adminsidebar>
  <!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	    <!-- Content Header (Page header) -->
	    <div class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1 class="m-0">Tableau de bord</h1>
	          </div><!-- /.col -->
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
	              <li class="breadcrumb-item active">Tableau de bord</li>
	            </ol>
	          </div><!-- /.col -->
	        </div><!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </div>
	    <!-- /.content-header -->

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <!-- Info boxes -->
	        <div class="row">

	          <div class="col-12 col-sm-6 col-md-3">
	            <div class="info-box mb-3">
	              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-users"></i></span>

	              <div class="info-box-content">
	                <span class="info-box-text">Compte de tous les utilisateurs</span>
	                <span class="info-box-number">{{ allUserCount }}</span>
	              </div>
	              <!-- /.info-box-content -->
	            </div>
	            <!-- /.info-box -->
	          </div>

	          <div class="col-12 col-sm-6 col-md-3">
	            <div class="info-box mb-3">
	              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-users"></i></span>

	              <div class="info-box-content">
	                <span class="info-box-text">Tous les comptes actifs</span>
	                <span class="info-box-number">{{ allActiveUserCount }}</span>
	              </div>
	              <!-- /.info-box-content -->
	            </div>
	            <!-- /.info-box -->
	          </div>

	          <div class="col-12 col-sm-6 col-md-3">
	            <div class="info-box mb-3">
	              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

	              <div class="info-box-content">
	                <span class="info-box-text">Tous les comptes inactifs</span>
	                <span class="info-box-number">{{ allInActiveUserCount }}</span>
	              </div>
	              <!-- /.info-box-content -->
	            </div>
	            <!-- /.info-box -->
	          </div>

	          <!-- /.col -->
	          <div class="col-12 col-sm-6 col-md-3">
	            <div class="info-box mb-3">
	              <span class="info-box-icon bg-danger elevation-1"><i class="far fa-star"></i></span>

	              <div class="info-box-content">
	                <span class="info-box-text">Tous les dons</span>
	                <span class="info-box-number">{{ allDonation }}</span>
	              </div>
	              <!-- /.info-box-content -->
	            </div>
	            <!-- /.info-box -->
	          </div>
	          <!-- /.col -->

	          <!-- fix for small devices only -->
	          <div class="clearfix hidden-md-up"></div>

	          <div class="col-12 col-sm-6 col-md-3">
	            <div class="info-box mb-3">
	              <span class="info-box-icon   elevation-1"><i class="fab fa-forumbee" aria-hidden="true"></i></span>

	              <div class="info-box-content">
	                <span class="info-box-text">Tous les forums</span>
	                <span class="info-box-number">{{allForum}}</span>
	              </div>
	              <!-- /.info-box-content -->
	            </div>
	            <!-- /.info-box -->
	          </div>

	          <div class="col-12 col-sm-6 col-md-3">
	            <div class="info-box mb-3">
	              <span class="info-box-icon   elevation-1"><i class="fab fa-forumbee" aria-hidden="true"></i></span>

	              <div class="info-box-content">
	                <span class="info-box-text">Tous les forums actifs</span>
	                <span class="info-box-number">{{allActiveForum}}</span>
	              </div>
	              <!-- /.info-box-content -->
	            </div>
	            <!-- /.info-box -->
	          </div>

	          <div class="col-12 col-sm-6 col-md-3">
	            <div class="info-box mb-3">
	              <span class="info-box-icon   elevation-1"><i class="fab fa-forumbee" aria-hidden="true"></i></span>

	              <div class="info-box-content">
	                <span class="info-box-text">Tous les forums inactifs</span>
	                <span class="info-box-number">{{allInactiveForum}}</span>
	              </div>
	              <!-- /.info-box-content -->
	            </div>
	            <!-- /.info-box -->
	          </div>
	          <!-- /.col -->


	          

	          <!-- /.col -->
	        </div>
	        <!-- /.row -->

	        <div class="row">
	        	<div class="col-md-6">
	        			<div class="card">
		              <div class="card-header border-transparent">
		                <h3 class="card-title">Forum récents</h3>

		                <div class="card-tools">
		                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
		                    <i class="fas fa-minus"></i>
		                  </button>
		                  <button type="button" class="btn btn-tool" data-card-widget="remove">
		                    <i class="fas fa-times"></i>
		                  </button>
		                </div>
		              </div>
		              <!-- /.card-header -->
		              <div class="card-body p-0">
		                <div class="table-responsive">
		                  <table class="table m-0">
		                    <thead>
		                    <tr>
		                      <th>Nom de l'utilisateur</th>
		                      <th>Courriel</th>
		                      <th>Titre</th>
		                      <th>Statut</th>
		                    </tr>
		                    </thead>
		                    <tbody>

		                    <tr *ngFor="let val of allForumRecord let i = index">
		                      <td>{{ val.user_id[0].firstName }} {{ val.user_id[0].lastName }}</td>
		                      <td>{{ val.user_id[0].email }}</td>
		                      <td>{{ val.title }}</td>

		                      <td>
		                      	<div *ngIf="val.status == 1; else statusOut">
		                      		<span class="badge badge-success">Actif</span>
		                      	</div>
				                    <ng-template #statusOut> 
				                        <span class="badge badge-danger">Inactif</span>
				                    </ng-template>
		                      </td>

		                       

		                    </tr>
		                    
		                    </tbody>
		                  </table>
		                </div>
		                <!-- /.table-responsive -->
		              </div>
		              <!-- /.card-body -->
		              <div class="card-footer clearfix">
		                <a href="javascript:void(0)" class="btn btn-sm float-left"></a>
		                <a href="/allForum" class="btn btn-sm btn-secondary float-right">Voir tous les forums</a>
		              </div>
		              <!-- /.card-footer -->
		            </div>
		            <!-- /.card -->
	        	</div>
	        	<div class="col-md-6">
	        			<div class="card">
		              <div class="card-header border-transparent">
		                <h3 class="card-title">Dons récents</h3>

		                <div class="card-tools">
		                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
		                    <i class="fas fa-minus"></i>
		                  </button>
		                  <button type="button" class="btn btn-tool" data-card-widget="remove">
		                    <i class="fas fa-times"></i>
		                  </button>
		                </div>
		              </div>
		              <!-- /.card-header -->
		              <div class="card-body p-0">
		                <div class="table-responsive">
		                  <table class="table m-0">
		                    <thead>
		                    <tr>
		                      <th>Nom de l'utilisateur</th>
		                      <th>Courriel</th>
		                      <th>Prix</th>
		                      <th>Statut</th>
		                    </tr>
		                    </thead>
		                    <tbody>

		                    <tr *ngFor="let val of allDonationRecord let i = index">
		                      <td>{{ val.firstName }} {{ val.lastName }}</td>
		                      <td>{{ val.email }}</td>
		                      <td>{{ val.price }}</td>

		                      <td>
		                      	<div *ngIf="val.status == 1; else statusOut">
		                      		<span class="badge badge-success">Actif</span>
		                      	</div>
				                    <ng-template #statusOut> 
				                        <span class="badge badge-danger">Inactif</span>
				                    </ng-template>
		                      </td>

		                       

		                    </tr>
		                    
		                    </tbody>
		                  </table>
		                </div>
		                <!-- /.table-responsive -->
		              </div>
		              <!-- /.card-body -->
		              <div class="card-footer clearfix">
		                <a href="javascript:void(0)" class="btn btn-sm float-left"></a>
		                <a href="/allUsersDonation" class="btn btn-sm btn-secondary float-right">Tous les Dons </a>
		              </div>
		              <!-- /.card-footer -->
		            </div>
		            <!-- /.card -->
	        	</div>
	        </div>
	        <!-- /.row -->

	        <!-- Main row -->
	        <div class="row"></div>
	        <!-- /.row -->
	      </div><!--/. container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
    <!-- Control sidebar content goes here -->
  <!-- /.control-sidebar -->

   <app-adminfooter></app-adminfooter>
</div>
</body>