<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <app-adminheader></app-adminheader>
  <app-adminsidebar></app-adminsidebar>
  <!-- Content Wrapper. Contains page content -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Donation</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
              <li class="breadcrumb-item active">Don de tous les utilisateurs</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Don de tous les utilisateurs<small> </small></h3>
              </div>

              <div class="clearfix"></div><br>
              <div>
                <b><a  class="btn btn-success export_btn" href="{{base_url_node}}exportCsvUsersDonationApi" target="_blank" download="download"  >Exporter csv</a></b>
              </div>


              <!-- /.card-header -->
              <!-- form start -->
               <div class="card">
              <div class="card-header">
                <h3 class="card-title"> </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">

                <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Prénom</label>
                            <input type="text" formControlName="firstName"
                              id="firstName"  
                              class="form-control"
                              placeholder="Prénom"
                              >
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nom de famille</label>
                            <input type="text" formControlName="lastName"
                              id="lastName"  
                              class="form-control"
                              placeholder="Nom de famille"
                              >
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Courriel</label>
                          <input type="text" formControlName="email"
                            id="email"  
                            class="form-control"
                            placeholder="Courriel"
                            >
                        </div>
                      </div>
                      <div class="col-md-4"> 
                        <div class="form-group">
                          <label for="exampleInputEmail1">Numéro de portable</label>
                          <input type="text" formControlName="mobileNumber"
                            id="mobileNumber"  
                            class="form-control"
                            placeholder="Numéro de portable"
                            >
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Catégorie</label>
                          <input type="text" formControlName="category"
                            id="category"  
                            class="form-control"
                            placeholder="Catégorie"
                            >
                        </div>
                      </div> 
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Prix</label>
                          <input type="text" formControlName="price"
                            id="price"  
                            class="form-control"
                            placeholder="Prix"
                            >
                        </div>
                      </div> 

                       

                    </div>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Soumettre</button>
                    &nbsp;&nbsp;&nbsp;
                    <a href="{{base_url}}allUsersDonation" class="btn btn-warning">Réinitialisation</a>


                  </div>
                  <div class="card-footer">
                    
                  </div>
                </form>


              <div class="table-responsive">  
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Prénom</th>
                      <th>Nom de famille</th>
                      <th>Courriel</th>
                      <th>Numéro de téléphone mobile</th>
                      <th>Catégorie</th>
                      <th>Prix</th>
                      <th>Type de paiement</th>
                      <th>Statut</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                     
                    <tr *ngFor="let val of record let i = index">
                      <td>{{ i+1 }}</td>
                      <td>{{ val.firstName}}</td>
                      <td>{{ val.lastName}}</td>
                      <td>{{ val.email}}</td>
                      <td>{{ val.mobileNumber}}</td>
                      <td>{{ val.category_title}}</td>
                      <td>   
                        <ng-container *ngIf="val.total_price !='';  else elsePriceEdit ">
                          {{ val.total_price}}
                        </ng-container>
                        <ng-template #elsePriceEdit>
                           {{ val.price}}
                        </ng-template>



                      </td>


                      <td>{{ val.payment_type}}</td>
                      
                      
                       
                    <td>
                        <div *ngIf="val.status == 1; else statusOut">
                          <span class="badge bg-success">Fait</span>
                      </div>
                      <ng-template #statusOut>
                          <span class="badge bg-danger">Pas encore fait</span>
                      </ng-template>
                  	</td> 
                    <td>
                      <a routerLink="/donationDetail/{{ val._id}}" >
                        <i class="">Détail</i>
                      </a>

                    </td>

                    </tr>

                  </tbody>
                </table>
              </div>  
                <div class="clearfix"></div>
                <br>

                 
                <ul class="pagination">
                    <li   *ngFor="let item of numbers; let i = index"  
                    [class.active]="selectedIndex === i"
                      (click)="getallBanner(item)">
                      <a class="" href="javascript:void(0)">{{item+1}}</a>
                    </li> 
                </ul>

                <div class="clearfix"></div>
                  <br>
	            <div class="comeBack_up" *ngIf="apiResponse">
	                <div *ngIf="apiResponse.error; else loggedOut">
	                  <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
	                </div>
	                <ng-template #loggedOut>
	                  <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
	                </ng-template>
	            </div>


              </div>
              <!-- /.card-body -->
            </div>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
    <!-- Control sidebar content goes here -->
  <!-- /.control-sidebar -->

  
   <app-adminfooter></app-adminfooter>
</div>
</body>