<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="/admin" class="h1"><b>Coeurophelins</b></a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Connectez-vous pour commencer votre session</p>

      

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="input-group mb-3">
        <input type="email" formControlName="email"
          id="email"  
          class="form-control"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"placeholder="Courriel">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-envelope"></span>
          </div>
        </div>
        <div *ngIf="f['email'].touched && f['email'].invalid" class="validation_error">
          <div *ngIf="f['email'].errors && f['email'].errors['required']">Veuillez saisir l'adresse e-mail.</div>
          <div *ngIf="f['email'].errors && f['email'].errors['pattern']">Veuillez entrer une adresse e-mail valide.</div>
        </div>
      </div>

      <div class="input-group mb-3">
        <input formControlName="password"
          id="password" 
          type="password" 
          class="form-control" placeholder="Password">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
        <div *ngIf="f['password'].touched && f['password'].invalid" class="validation_error">
          <div *ngIf="f['password'].errors && f['password'].errors['required']">Veuillez saisir le mot de passe </div>
          <div *ngIf="f['password'].errors && f['password'].errors['minlength']">Le mot de passe doit comporter 8 caractères.</div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <!-- <div class="icheck-primary">
            <input type="checkbox" id="remember">
            <label for="remember">
               Remember Me
            </label>
          </div> -->
        </div>
        <!-- /.col -->
        <div class="col-6">
          <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
        </div>
        <!-- /.col -->
      </div>
 
      <div class="clearfix"></div>
      <br>
      <div class="comeBack_up" *ngIf="apiResponse">
        <div *ngIf="apiResponse.error; else loggedOut">
          <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
        </div>
        <ng-template #loggedOut>
          <div class="alert alert-success"><strong>{{ apiResponse.errorMessage }}</strong></div>
        </ng-template>
      </div>
    </form>
      

      <!-- /.social-auth-links -->

      <p class="mb-1">
        <!-- <a href="/admin">I forgot my password</a><br> -->
        <!-- <a href="/admin/adminRegistration">Registration</a> -->
      </p>
       
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->


</body>