 <!-- Main Sidebar Container -->
	<aside class="main-sidebar sidebar-dark-primary elevation-4"
		style="height: 105vh;
    overflow-y: hidden; 
    z-index: 999999;" 
	>
	    <!-- Brand Logo -->
	    <a routerLink="/editAdminProfile" class="brand-link">
	      <img src="../../assets/admin-js-css/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
	      <span class="brand-text font-weight-light">Admin</span>
	    </a>

	    <!-- Sidebar -->
	    <div class="sidebar">
	      <!-- Sidebar user panel (optional) -->
	      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
	        <div class="image">
	          <img *ngIf="old_userImage; else imageNotAvaiAdmin" src="{{old_userImage}}" class="img-circle elevation-2" alt="User Image">
	          <ng-template #imageNotAvaiAdmin>
	              <img src="../../assets/admin-js-css/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
	            </ng-template>
	        </div>
	        <div class="info">
	          <a routerLink="/editAdminProfile" class="d-block">{{old_firstName}} {{old_lastName}}</a>
	        </div>
	      </div>

	      <!-- SidebarSearch Form -->
	      <!-- <div class="form-inline">
	        <div class="input-group" data-widget="sidebar-search">
	          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
	          <div class="input-group-append">
	            <button class="btn btn-sidebar">
	              <i class="fas fa-search fa-fw"></i>
	            </button>
	          </div>
	        </div>
	      </div> -->

	      <!-- Sidebar Menu -->
	      <nav class="mt-2">
	        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
	          <!-- Add icons to the links using the .nav-icon class
	               with font-awesome or any other icon font library -->
			     
		        <li class="nav-item" [ngClass]="(currentUrlSegment=='dashboard')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='dashboard')?'active':''">
		              <i class="nav-icon fas fa-tachometer-alt"></i>
		              <p>
		                Tableau de bord
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item">
		                <a routerLink="/dashboard" class="nav-link" [ngClass]="(currentUrlSegment=='dashboard')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Tableau de bord</p>
		                </a>
		              </li>
		              
		            </ul>
		        </li>
	          
		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='addUsers' || currentUrlSegment=='allUsers')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addUsers' || currentUrlSegment=='allUsers')?'active':''">
		              <i class="nav-icon fas fa-chalkboard-teacher"></i>
		              <p>
		                Utilisateurs
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item">
		                <a routerLink="/allUsers" class="nav-link"  [ngClass]="(currentUrlSegment=='allUsers')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Tous les utilisateurs</p>
		                </a>
		              </li>

		            </ul>
		        </li>
		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='addUsers' || currentUrlSegment=='allForum')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addUsers' || currentUrlSegment=='allForum')?'active':''">
		              <i class="nav-icon fas fa-list-ul"></i>
		              <p>
		                Forum
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item">
		                <a routerLink="/allForum" class="nav-link"  [ngClass]="(currentUrlSegment=='allForum')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Tous les forums</p>
		                </a>
		              </li>

		            </ul>
		        </li>
	          
		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='addBanner' || currentUrlSegment=='allBanner')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addBanner' || currentUrlSegment=='allBanner')?'active':''">
		              <i class="nav-icon far fa-image"></i>
		              <p>
		                Bannière
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item">
		                <a routerLink="/addBanner" class="nav-link"  [ngClass]="(currentUrlSegment=='addBanner')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Ajouter une bannière</p>
		                </a>
		              </li>
		              <li class="nav-item">
		                <a routerLink="/allBanner" class="nav-link"  [ngClass]="(currentUrlSegment=='allBanner')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Toutes les bannières</p>
		                </a>
		              </li>
		            </ul>
		        </li>
		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='addCategory' || currentUrlSegment=='allCategory' || currentUrlSegment=='editCategory')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addCategory' || currentUrlSegment=='allCategory' || currentUrlSegment=='editCategory')?'active':''">
		              <i class="nav-icon fas fa-list-ul"></i>
		              <p>
		                Catégorie
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item">
		                <a routerLink="/addCategory" class="nav-link"  [ngClass]="(currentUrlSegment=='addCategory')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Ajouter une catégorie</p>
		                </a>
		              </li>
		              <li class="nav-item">
		                <a routerLink="/allCategory" class="nav-link"  [ngClass]="(currentUrlSegment=='allCategory' || currentUrlSegment=='editCategory')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Toutes les catégories</p>
		                </a>
		              </li>
		            </ul>
		        </li>
	          //
		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='addSubCategory' || currentUrlSegment=='allSubCategory'|| currentUrlSegment=='editSubCategory'|| currentUrlSegment=='addSubCategoryVideo')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addSubCategory' || currentUrlSegment=='allSubCategory'|| currentUrlSegment=='editSubCategory'|| currentUrlSegment=='addSubCategoryVideo')?'active':''">
		              <i class="nav-icon fas fa-copy"></i>
		              <p>
		                Sous-catégorie
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item">
		                <a routerLink="/addSubCategory" class="nav-link"  [ngClass]="(currentUrlSegment=='addSubCategory')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Ajouter une sous-catégorie</p>
		                </a>
		              </li>
		              <li class="nav-item">
		                <a routerLink="/allSubCategory" class="nav-link"  [ngClass]="(currentUrlSegment=='allSubCategory'|| currentUrlSegment=='editSubCategory'|| currentUrlSegment=='addSubCategoryVideo')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Toutes les sous-catégories</p>
		                </a>
		              </li>
		            </ul>
		        </li>
	          
		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='addProject' || currentUrlSegment=='allProject' || currentUrlSegment=='addNewProject')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addProject' || currentUrlSegment=='allProject' || currentUrlSegment=='addNewProject')?'active':''">
		              <i class="nav-icon fas fa-paper-plane"></i>
		              <p>
		                Projet
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item">
		                <a routerLink="/addProject" class="nav-link"  [ngClass]="(currentUrlSegment=='addProject')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Ajouter un projet</p>
		                </a>
		              </li>
		              <li class="nav-item">
		                <a routerLink="/allProject" class="nav-link"  [ngClass]="(currentUrlSegment=='allProject')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Tous les projets</p>
		                </a>
		              </li>
		              <li class="nav-item">
		                <a routerLink="/addNewProject" class="nav-link"  [ngClass]="(currentUrlSegment=='addNewProject')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Ajouter un projet de prix</p>
		                </a>
		              </li>
		            </ul>
		        </li>
	          
		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='sendPushNotification' || currentUrlSegment=='allPushNotification')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='sendPushNotification' || currentUrlSegment=='allPushNotification')?'active':''">
		              <i class="nav-icon fas fa-bell"></i>
		              <p>
		                Notification Push
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item">
		                <a routerLink="/sendPushNotification" class="nav-link"  [ngClass]="(currentUrlSegment=='sendPushNotification')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Envoyer une notification push</p>
		                </a>
		              </li>
		              <li class="nav-item">
		                <a routerLink="/allPushNotification" class="nav-link"  [ngClass]="(currentUrlSegment=='allPushNotification')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Toutes les notifications push</p>
		                </a>
		              </li>
		            </ul>
		        </li>
	          
		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='addGalleryImage' || currentUrlSegment=='allGalleryImage')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addGalleryImage' || currentUrlSegment=='allGalleryImage')?'active':''">
		              <i class="nav-icon far fa-image"></i>

		              <p>
		                Image de la galerie
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item">
		                <a routerLink="/addGalleryImage" class="nav-link"  [ngClass]="(currentUrlSegment=='addGalleryImage')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Ajouter une image de la galerie</p>
		                </a>
		              </li>
		              <li class="nav-item">
		                <a routerLink="/allGalleryImage" class="nav-link"  [ngClass]="(currentUrlSegment=='allGalleryImage')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Toutes les images de la galerie</p>
		                </a>
		              </li>
		            </ul>
		        </li>
		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='addGalleryVideo' || currentUrlSegment=='allGalleryVideo')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addGalleryVideo' || currentUrlSegment=='allGalleryVideo')?'active':''">
		              <i class="nav-icon fas fa-video"></i>
		              <p>
		                Galerie vidéo
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item">
		                <a routerLink="/addGalleryVideo" class="nav-link"  [ngClass]="(currentUrlSegment=='addGalleryVideo')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Ajouter une galerie vidéo</p>
		                </a>
		              </li>
		              <li class="nav-item">
		                <a routerLink="/allGalleryVideo" class="nav-link"  [ngClass]="(currentUrlSegment=='allGalleryVideo')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Toutes les vidéos de la galerie</p>
		                </a>
		              </li>
		            </ul>
		        </li>

		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='editPaypalKey' || currentUrlSegment=='editStripeKey')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='editPaypalKey' || currentUrlSegment=='editStripeKey')?'active':''">
		              <i class="nav-icon fas fa-tachometer-alt"></i>
		              <p>
		                Prise de paiement du réglage 
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item">
		                <a routerLink="/editPaypalKey" class="nav-link"  [ngClass]="(currentUrlSegment=='editPaypalKey')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Paypal</p>
		                </a>
		              </li>
		              <!-- <li class="nav-item">
		                <a routerLink="/editStripeKey" class="nav-link"  [ngClass]="(currentUrlSegment=='editStripeKey')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Stripe</p>
		                </a>
		              </li> -->
		            </ul>
		        </li> 
	          	<li class="nav-item"  [ngClass]="(currentUrlSegment=='allUsersDonation')?'menu-open':''"  >
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='allUsersDonation')?'active':''">
		              <i class="nav-icon fas fa-money-check"></i>
		              <p>
		                Donation
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item">
		                <a routerLink="/allUsersDonation" class="nav-link"  [ngClass]="(currentUrlSegment=='allUsersDonation')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Don de tous les utilisateurs</p>
		                </a>
		              </li>
		              
		            </ul>
		        	</li>


	          	<!-- <li class="nav-item"  [ngClass]="(currentUrlSegment=='stripeKey'||currentUrlSegment=='paypalKey')?'menu-open':''"  >
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='stripeKey'||currentUrlSegment=='paypalKey')?'active':''">
		              <i class="nav-icon fas fa-money-check"></i>
		              <p>
		                Paramètres de paiement
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item">
		                <a routerLink="/stripeKey" class="nav-link"  [ngClass]="(currentUrlSegment=='stripeKey')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Stripe</p>
		                </a>
		              </li>
		              <li class="nav-item">
		                <a routerLink="/paypalKey" class="nav-link"  [ngClass]="(currentUrlSegment=='paypalKey')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Paypal</p>
		                </a>
		              </li>
		              
		            </ul>
		        	</li> -->


	          	<li class="nav-item"  [ngClass]="(currentUrlSegment=='termsAndCondition'||currentUrlSegment=='privacyAndPolicy'||currentUrlSegment=='editAboutUs')?'menu-open':''"  >
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='termsAndCondition'||currentUrlSegment=='privacyAndPolicy'||currentUrlSegment=='editAboutUs')?'active':''">
		              <i class="nav-icon fas fa-book"></i>
		              <p>
		                A propos de nous
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">

									<li class="nav-item">
		                <a routerLink="/editAboutUs" class="nav-link"  [ngClass]="(currentUrlSegment=='editAboutUs')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>A propos de nous</p>
		                </a>
		              </li>


		              <li class="nav-item">
		                <a routerLink="/termsAndCondition" class="nav-link"  [ngClass]="(currentUrlSegment=='termsAndCondition')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Conditions d'utilisation</p>
		                </a>
		              </li>
		              
									<li class="nav-item">
		                <a routerLink="/privacyAndPolicy" class="nav-link"  [ngClass]="(currentUrlSegment=='privacyAndPolicy')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Politique de confidentialité</p>
		                </a>
		              </li>

		            </ul>
		        	</li>
		        	

		        	<li class="nav-item"  [ngClass]="(currentUrlSegment=='addDonationTitle' || currentUrlSegment=='allDonationTitle' || currentUrlSegment=='editDonationTitle')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addDonationTitle' || currentUrlSegment=='allDonationTitle' || currentUrlSegment=='editDonationTitle')?'active':''">
		              <i class="nav-icon fas fa-chalkboard-teacher"></i>
		              <p>
		                Titre du don
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item">
		                <a routerLink="/addDonationTitle" class="nav-link"  [ngClass]="(currentUrlSegment=='addDonationTitle')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Ajouter le titre du don</p>
		                </a>
		              </li>

		              <li class="nav-item">
		                <a routerLink="/allDonationTitle" class="nav-link"  [ngClass]="(currentUrlSegment=='allDonationTitle'|| currentUrlSegment=='editDonationTitle')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Tous les titres de donation</p>
		                </a>
		              </li>

		            </ul>
		        	</li>


	          	<li class="nav-item">
		            <a routerLink="/adminChangePassword" class="nav-link">
		              <i class="nav-icon far fa-circle text-success"></i>
		              <p class="text">Modifier le mot de passe</p>
		            </a>
	          	</li>
							<li class="nav-item">
		            <a routerLink="/allNewsLater" class="nav-link">
		              <i class="nav-icon far fa-circle text-success"></i>
		              <p class="text">Bulletin d'information</p>
		            </a>
	          	</li>
							<li class="nav-item">
		            <a routerLink="/setting" class="nav-link">
		              <i class="nav-icon far fa-circle text-success"></i>
		              <p class="text">Paramètres</p>
		            </a>
	          	</li>
	          	<li class="nav-item">
		            <a routerLink="/logout" class="nav-link">
		              <i class="nav-icon far fa-circle text-danger"></i>
		              <p class="text">Déconnexion</p>
		            </a>
	          	</li>
	          
	        </ul>
	      </nav>
	      <!-- /.sidebar-menu -->
	    </div>
	    <!-- /.sidebar -->
	</aside>
