<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Projet</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Ajouter une projet</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Ajouter une projet<small></small></h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
  
                <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                  <div class="card-body">
                       
                     
                       <div class="form-group">
                        <label for="exampleInputEmail1">Titre</label>
                        <input type="text" formControlName="title"
                          id="title"  
                          class="form-control"
                          placeholder="Titre" [(ngModel)]="old_title">
                         
                      </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Petite description</label>
                        <textarea  formControlName="smallDescription"
                          id="smallDescription"  
                          class="form-control"
                          placeholder="Petite description" [(ngModel)]="old_smallDescription"></textarea>
                        
                      </div>

                      <!-- <div class="form-group">
                        <label for="file">Image</label><br><div class="clearfix"></div>
                        <input
                            formControlName="images"
                            id="images"
                            type="file"
                              
                            (change)="onFileChange($event)"
                            accept="image/png, image/jpeg, image/jpg, image/gif">
                        
                      </div> -->

                      <div class="form-group">
                        <label for="exampleInputEmail1">Contenu</label>
                        <!-- <div class="NgxEditor__Wrapper">
                            <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                            <ngx-editor
                            formControlName="html"
                              [editor]="editor"
                              [(ngModel)]="html"
                              [disabled]="false"
                              [placeholder]="'Tapez ici...'"
                            ></ngx-editor>
                        </div> -->
  
                        <angular-editor [placeholder]="'Tapez ici...'" formControlName="html" [(ngModel)]="html"></angular-editor>
  
  
  
                      </div>
                    <!-- <div>
                      
                        <h3>
                          <p> 
                          A partir de là, vous pouvez ajouter plusieurs prix pour les dons.</p>
                        </h3>
                      
                      <table class="" formArrayName="quantities">
                        <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">
                        <td>
                            <div class="form-group">
                              <label for="exampleInputEmail1">Prix</label>
                              <input type="text" formControlName="price"
                                  id="price"  
                                  class="form-control"
                                  placeholder="Prix"
                                  >
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                              <label for="exampleInputEmail1">Titre</label>
                              <input type="text" formControlName="title"
                                  id="title"  
                                  class="form-control"
                                  placeholder="Titre"
                                  >
                            </div>
                        </td>
                        <div class="clearfix"></div><br>
                         
                        <td>
                            <button (click)="removeQuantity(i)" class="btn btn-danger remove_btn">Retirer</button>
                        </td>
                      </tr>
                      <div class="clearfix"></div><br>
                      <tr>
                        <th colspan="2">
                          <a (click)="addQuantity()" class="btn btn-primary">Cliquez ici</a></th>
                        <th width="150px"></th>
                      </tr>
                    </table>
                  </div> -->
                   
                     <div class="clearfix"></div><br>
                    <button type="submit" class="btn btn-success">Soumettre</button>
  
                    <div class="clearfix"></div>
                    <br>
                    <div class="comeBack_up" *ngIf="apiResponse">
                      <div *ngIf="apiResponse.error; else loggedOut">
                        <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                      </div>
                      <ng-template #loggedOut>
                        <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                      </ng-template>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
     <app-adminfooter></app-adminfooter>
  </div>
  </body>