/* You can add global styles to this file, and also import other style files */

.validation_error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
    font-weight: 700;
}


.pagination{
  float: right;
}
.pagination a {
  /*color: black;*/
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination li.active{
    background-color: #ddd;
}

a.export_btn {
    float: right;
    margin-right: 12px;
}

 
/*
.main-sidebar {
    height: 105vh;
    overflow-y: hidden; 
    z-index: 999999;
}*/

.os-viewport {
    margin-bottom: 0;
}